html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.greybox{
    background: rgb(202,202,202);
    background: radial-gradient(circle, rgba(202,202,202,1) 0%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 6rem;
}
.greybox .container1{
    width: 60%;
    height: 6rem;
    display: flex;
    margin: 0 auto;
}
.element{
    /* border: 1px solid black; */
    width: 14.28%;
    text-align: center;
    letter-spacing: 1px;
}
.element .logo{
    position: relative;
    top: 15%;
}
.maintext{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
.subtext{
    font-size: 0.7rem;
    color: black;
}
/* .shipping{
   
} */
.heading
{
    margin: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
}
.scrollables{
    border: 1px solid black;
    width: 60%;
    height: 30rem;
    margin: 0 auto;
    display: flex;
}
.collection{
    border: 1px solid green;
    width: 35%;
    height: 30rem;
}
@media screen and (max-width: 1200px) {
    .scrollables{
        width: 100%;
    }
}
@media screen and (max-width: 1300px) {
    .collection{
        border: 1px solid green;
        width: 25rem;
        height: 30rem;
    }
}

/* ----------------slider--------------- */
/* body {
    margin: 1%;
    margin-left:1%;
  } */
  #slider {
    width: 100%;
    height: 19rem;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width:  100%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
    /* display: flex; */
  } 
  #slider ul li {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
  }
  #slider ul li img{
    width: 100%;
    height: 19rem;
  }
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    /* display: flex; */
  } 
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }
  #slider #prev {
    left: 1rem;
    top: 20%;
    color: black;
  }
  #slider #next {
    top: 20%;
    right: 1rem;
    color: black;
  }