html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.greybox{
    background: rgb(202,202,202);
    background: radial-gradient(circle, rgba(202,202,202,1) 0%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 6rem;
}
.greybox .container1{
    width: 60%;
    height: 6rem;
    display: flex;
    margin: 0 auto;
}
.element{
    /* border: 1px solid black; */
    width: 14.28%;
    text-align: center;
    letter-spacing: 1px;
}
.element .logo{
    position: relative;
    top: 15%;
}
.maintext{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
.subtext{
    font-size: 0.7rem;
    color: black;
}
/* .shipping{
   
} */
.heading
{
    margin: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
}
.scrollables{
    /* overflow: hidden; */
    width: 80%;
    height: 40rem;
    margin: 0 auto;
    display: flex;
}
.collection{
    width: 40%;
    height: 30rem;
}
.collection:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.scrollables1{
    width: 80%;
    height: 25rem;
    margin: 0 auto;
    display: flex;
}

.collection1{
    width:39%;
    height: 25rem;
}

@media screen and (max-width: 1200px) {
    .scrollables{
        width: 100%;
    }
}
@media screen and (max-width: 1300px) {
    .collection{
        border: 1px solid green;
        width: 25rem;
        height: 30rem;
    }
}
.viewmore
{
    /* border: 1PX solid black; */
    height: 3rem;
    margin: 0.5rem;
    color: rgb(155, 3, 3);
    text-decoration: solid;
}
.butt{
    border: 1px solid rgb(155, 3, 3);
    width: fit-content;
    padding: 0.5rem 4rem;
    margin: 0 auto;
}
a:link {
    text-decoration: none;
  }
.blocks
{
    /* border: 1px solid black; */
    width: 100%;
    height: 20rem;
}
.buttons1{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 4px;
    width: 80%;
    margin: 0 auto;
}
.b{
    /* border: 1px solid black; */
    width: 20%;
    height: 5%;
    margin: .2rem;
    text-align: center;
}



/* ---slider--- */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}